/*new navbar*/
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: #111;
  }
/* Prototype Navbar
* {
    margin: 0;
    padding: 0;
}

.navbar {
    display: flex;
}

.nav-list {
    width: 50%;
    display: flex;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.active {
    border-style: groove;
    border-width: medium;
    border-color: yellow;
}

.nav-list li a:hover {
    color: yellow;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}
*/
